@font-face {
   font-family: 'Quicksand-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/LENOVO/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-01-20_131744/fonts/Quicksand-VariableFont_wght/font.ttf');
}
